.page-title {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}
.form-container {
	width: 600px !important;
	margin: auto !important;
}
.form-container-login {
	width: 300px !important;
	margin: auto !important;
}
.ui.teal.button:hover,
.ui.teal.buttons .button:hover {
	background-color: #00b5ad;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
	background-color: #00b5ad;
}
